<?php
/**
 * @var $block \Kowal\CookieInfo\Block\Cookieinfo
 */
?>
<?php
if (!$block->getEnabled()) return;
?>
<div class="cookie-info-wrap" style="background-color:<?= $block->getBgColor(); ?>;">
    <div class="cookie-info-text" style="color:<?= $block->getTextColor(); ?>;"><?= $block->display(); ?>
        <a class="cookie-info-link" href="<?= $block->getLink(); ?>"><?= $block->getAnchorLink(); ?></a>
         <span class="cookie-info-close">[x]</span>
    </div>
</div>

<script type="text/javascript">
    require([
        'jquery',
        'mage/cookies'
    ], function ($) {
        $(document).ready(function () {

            var check_cookie = $.mage.cookies.get('cookie_info_close'); // Get Cookie Value
            if (check_cookie == 'true') {
                $(".cookie-info-wrap").remove();
            }

            $(".cookie-info-close").click(function () {
                var date = new Date();
                var minutes = 60;
                date.setTime(date.getTime() + (minutes * 60 * 1000));
                $.mage.cookies.clear('cookie_info_close'); // Expire Cookie
                $.mage.cookies.set('cookie_info_close', 'bar', {expires: date}); // Set Cookie Expiry Time
                $.mage.cookies.set('cookie_info_close', 'true'); // Set Cookie Value

                $(".cookie-info-wrap").remove();
            });

        });
    });
</script>