& when (@media-common = true) {

  .cookie-info-wrap {
    padding: 5px;
    margin: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: auto;
    width: 100%;

    .cookie-info-text {
      font-size: 11px;
      text-align: center;
    }

    .cookie-info-close {
      cursor: pointer;
    }
  }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .cookie-info-wrap {


  }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .cookie-info-wrap {


  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .cookie-info-wrap {


  }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

}

